# Q1. String Slicing Examples

In [ ]:
text = "Hi, How are you?"

In [ ]:
print(text[0:2]) # Basic Slicing
print(text[:2]) # Omitting Start
print(text[4:]) # Omitting Stop
print(text[-10:]) # Negative indices omitting stop
print(text[:-4]) # Negative indices omitting start
print(text[0:9:2]) # Slicing with Step, here step is of 2 i.e. every second character from starting till 9th position # Also example of complex slicing
print(text[::-1]) # Reversing a text

Hi
Hi
How are you?
w are you?
Hi, How are
H,Hwa
?uoy era woH ,iH

# Q2. Key feature of Lists in Python

### 1- Ordered Collection

In [ ]:
List1 = [100, 200, 300, 400]
print(List1[1])
print(List1[3])

200
400

### 2- Mutuable

In [ ]:
List1[0] = 500
print(List1)

[500, 200, 300, 400]

### 3- Dynamic Size

In [ ]:
List1.append(600)
print(List1)

[500, 200, 300, 400, 600]

In [ ]:
List1.remove(500)
print(List1)

[200, 300, 400, 600]

### 4- Heterogeneous Elements

In [ ]:
List2 = [100, "Tom", 3.14, [10, 20]]
print(List2)

[100, 'Tom', 3.14, [10, 20]]

### 5- Slicing

In [ ]:
print(List2[1:3])

['Tom', 3.14]

### 6- Built in Methods

In [ ]:
List3 = [400, 200, 100, 300]
List3.append(500)
print(List3)

List3.sort()
print(List3)

List3.reverse()
print(List3)

[400, 200, 100, 300, 500]
[100, 200, 300, 400, 500]
[500, 400, 300, 200, 100]

### 7- Iteration

In [ ]:
List2 = [100, "Tom", 3.14, [10, 20]]
for i in List2:
    print(i)

100
Tom
3.14
[10, 20]

### 8- List Comprehensions

In [ ]:
cubes = [x ** 3 for x in range(10)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### 9- Nested Lists

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[1])
print(nested_list[2][2])

[4, 5, 6]
9

### 10- Membership Testing

In [ ]:
List5 = [100, 200, 300, 400]
print(200 in List5)
print(400 not in List5)

True
False

# Q3. Accessing, Modifying and Deleting in List

### 1- Accessing in a List

In [ ]:
List6 = [2,4,6,8,10]
print(List6[3]) # Accessing in a list
print(List6[0])
print(List6[-1]) # Accessing through negative indexing
print(List6[0:3]) # Accessing through slicing

8
2
10
[2, 4, 6]

### 2- Modifying in List

In [ ]:
List6[2] = 12
print(List6)

List6[-2] =16
print(List6)

List6[0:2] = [4,8]
print(List6)

[2, 4, 12, 16, 10]
[2, 4, 12, 16, 10]
[4, 8, 12, 16, 10]

In [ ]:
List6.append(20)
print(List6)

List6.extend([40,60])
print(List6)

List6.insert(5,18)
print(List6)

[4, 8, 12, 16, 10, 20]
[4, 8, 12, 16, 10, 20, 40, 60]
[4, 8, 12, 16, 10, 18, 20, 40, 60]

### 3- Deleting in List

In [ ]:
List7 = [10, 20, 30, 40, 50]

del List7[4] # Deleting an element by index
print(List7)

del List7[1:3] # Deleting slice of elements
print(List7)

[10, 20, 30, 40]
[10, 40]

In [ ]:
List8 = [100, 150, 200, 250, 150, 250, 300]

List8.remove(150) # Remove the first occurrence of 150
print(List8)

[100, 200, 250, 150, 250, 300]

In [ ]:
List9 = [10, 20, 30, 40, 50]

popped_element = List9.pop() # removes last element
print(popped_element)
print(List9)


popped_element = List9.pop(1) # removes an element at the index mentioned
print(popped_element)
print(List9)


List9.clear() # removes every element from the list
print(List9)

50
[10, 20, 30, 40]
20
[10, 30, 40]
[]

# Q4. Comapring List and Tuples

### 1- Mutability and Syntax

In [ ]:
# List is mutable
List = [100, 200, 300] # Syntax for list
List[2] = 400
print(List)

[100, 200, 400]

In [ ]:
# Tuple is immutable
t = (100, 200, 300) # Syntax for tuple
t[2] = 400

TypeError: 'tuple' object does not support item assignment

### 3- Use Case

In [ ]:
# List - dynamic, may change during execution
car_list = ['TATA', 'Mahindra', 'Mercedes', 'Audi']
print(car_list)

# Tuple - constant, fixed data
India_coordinates = (20.5937, 78.9629)  # (latitude, longitude)
print(India_coordinates)

['TATA', 'Mahindra', 'Mercedes', 'Audi']
(20.5937, 78.9629)

### 4- Methods

In [ ]:
# List methods
car_list = ['TATA', 'Mahindra', 'Mercedes', 'Audi']
car_list.append('BMW')  # Adding an element
print(car_list)

# Tuple methods
t = (1, 1, 2, 2, 2, 3)
print(t.count(2))
print(t.index(3))

['TATA', 'Mahindra', 'Mercedes', 'Audi', 'BMW']
3
5

### 5- Immutability and Hashability

In [ ]:
# List mutation affects the original list
car_list = ['TATA', 'Mahindra', 'Mercedes', 'Audi']
car_list[2] = 'Volkswagon'
print(car_list)

# Tuple containing a list
t = (5, 3, [9, 15], 10)
t[2][1] = 18
print(t)

['TATA', 'Mahindra', 'Volkswagon', 'Audi']
(5, 3, [9, 18], 10)

In [ ]:
# List cannot be used as a dictionary key
my_dict = {[1, 2]: "value"}  # This will raise a TypeError

TypeError: unhashable type: 'list'

In [ ]:
# Tuple can be used as a dictionary key
my_dict = {(2, 4): "even"}
print(my_dict)

{(2, 4): 'even'}

# Q5. Key features of Sets

### 1- Unordered Collection

In [1]:
s = {1, 2, 3, 4}
print(s)

{1, 2, 3, 4}

### 2- Unique Elements

In [2]:
s = {1, 1, 1, 1, 2, 2, 2, 3, 3, 4}
print(s)

{1, 2, 3, 4}

### 3- Mutable

In [5]:
s = {1, 2, 3}
s.add(4)
print(s)

s.remove(1)
print(s)

{1, 2, 3, 4}
{2, 3, 4}

### 4- No indexing or slicing

In [6]:
s = {1, 2, 3}
print(s[0])

TypeError: 'set' object is not subscriptable

### 5- Membership Testing

In [7]:
s = {1, 2, 3}
print(2 in s)
print(1 not in s)

True
False

### 6- Set Operations

In [8]:
# Union
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

# Intersection
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

#Set Difference
set1 = {1, 2, 3}
set2 = {2, 3, 4}
difference_set = set1 - set2
print(difference_set)

#Symmetric Difference
set1 = {1, 2, 3}
set2 = {2, 3, 4}
sym_diff_set = set1 ^ set2
print(sym_diff_set)

{1, 2, 3, 4, 5}
{2, 3}
{1}
{1, 4}

# Q7 Add, Modify and Delete Items in a Dictionary

### 1- Adding Item to Dictionary

In [9]:
# Example: Adding a new key-value pair
d1 = {"subject": "Data Analysis", "Assigment": 2}
d1["first name"] = "Satyabhama"

print(d1)


# Example: Using update() to add multiple key-value pairs
d2 = {"subject": "Data Analysis", "Assigment": 2}
d2.update({"first name": "Satyabhama", "last name": "Tiwari"})

print(d2)

{'subject': 'Data Analysis', 'Assigment': 2, 'first name': 'Satyabhama'}
{'subject': 'Data Analysis', 'Assigment': 2, 'first name': 'Satyabhama', 'last name': 'Tiwari'}

### 2- Modifying Items in a Dictionary

In [11]:
# Example: Modifying a value
d3 = {"subject": "Data Analysis", "Assigment": 1, "first name": "Satyabhama", "last name": "Tiwari"}
d3["Assigment"] = 1

print(d3)

# Example: Using update()
d3.update({"subject": "Data Science"})

print(d3)

{'subject': 'Data Analysis', 'Assigment': 1, 'first name': 'Satyabhama', 'last name': 'Tiwari'}
{'subject': 'Data Science', 'Assigment': 1, 'first name': 'Satyabhama', 'last name': 'Tiwari'}

### 3- Deleting Items from Dictionary

In [12]:
# Example: Deleting a key-value pair using del
d4 = {"subject": "Data Analysis", "Assigment": 2, "first name": "Satyabhama", "last name": "Tiwari"}
del d4["last name"]

print(d4)

# Example: Deleting a key-value pair using pop
first_name = d4.pop("first name") # returns value

print(d4)
print(first_name)

# Example: Deleting the last key-value pair using popitem
last_item = d4.popitem()

print(d4)
print(last_item)

# Example: Removing all key-value pairs using clear
d4.clear()
print(d4)

{'subject': 'Data Analysis', 'Assigment': 2, 'first name': 'Satyabhama'}
{'subject': 'Data Analysis', 'Assigment': 2}
Satyabhama
{'subject': 'Data Analysis'}
('Assigment', 2)
{}

# Q8 Importance of Dictionary keys being immuatble

### 1- Using Immutable keys

In [13]:
# Example of using strings (immutable) as dictionary keys
d5 = {"subject": "Data Analysis", "Assigment": 2, "first name": "Satyabhama", "last name": "Tiwari"}

# Accessing a value by its key
print(d5["first name"])


# Using a tuple (immutable) as a dictionary key
lat_long_place = {(28.7041, 77.1025): "New Delhi", (19.0760, 72.8777): "Mumbai", (13.0843, 80.2705): "Chennai", (22.5744, 88.3629) : "Kolkata"}

# Accessing the value by using a tuple key
print(lat_long_place[(19.0760, 72.8777)])

Satyabhama
Mumbai

### 2- Using Mutable keys

In [14]:
# Trying to use a list (mutable) as a key (which will cause an error)
my_dict = {[1, 2, 3]: "This will not work"}

TypeError: unhashable type: 'list'